@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Roboto&family=Space+Grotesk:wght@300;400;500;700&display=swap');

$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 6.25,
);

$custom-colors: (
    "gray-52": #525252,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$primary: #141415;
$secondary: #336ddb;

$enable-negative-margins: true;

@import "~bootstrap5/scss/bootstrap";

@import "custom/includes";

.rounded-4 {
    border-radius: 4px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-30 {
    border-radius: 30px;
}

.fw-500 {
    font-weight: 500;
}

.font-archivo {
    font-family: "Archivo", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-space-grotesk {
    font-family: "Space Grotesk", sans-serif;
}

.ls-1 {
    letter-spacing: -1px;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-17 {
    font-size: 1.063rem;
}

.fs-18-22 {
    font-size: clamp(1.125rem, 1.0643rem + 0.2589vw, 1.375rem);
}

.fs-20-32 {
    font-size: clamp(1.25rem, 1.068rem + 0.7767vw, 2rem);
}

.fs-36-64 {
    font-size: clamp(2.25rem, 1.8252rem + 1.8123vw, 4rem);
}
