// @import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Roboto&family=Space+Grotesk:wght@300;400;500;700&display=swap");

$primary: #141415;
$secondary: #336ddb;


@import "~bootstrap5/scss/bootstrap";

// @supports (font-variation-settings: "wdth" 115) {
//     @font-face {
//         font-family: "Archivo";
//         src: url("/assets/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf")
//             format("truetype-variations");
//         font-weight: 125 950;
//         font-stretch: 75% 125%;
//         font-style: normal;
//     }
//     @font-face {
//         font-family: "Space Grotesk";
//         src: url("/assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wdth,wght.ttf")
//             format("truetype-variations");
//         font-weight: 125 950;
//         font-stretch: 75% 125%;
//         font-style: normal;
//     }
// }

@font-face {
    font-family: "Archivo";
    src: local("Archivo Regular"), local("Archivo-Regular"),
        url("/assets/fonts/Archivo/Archivo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Archivo";
    src: local("Archivo Medium"), local("Archivo-Medium"),
        url("/assets/fonts/Archivo/Archivo-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"), local("Roboto-Regular"),
        url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk Light"), local("SpaceGrotesk-Light"),
        url("/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf")
            format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk Regular"), local("SpaceGrotesk-Regular"),
        url("/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk Medium"), local("SpaceGrotesk-Medium"),
        url("/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf")
            format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: local("SpaceGrotesk Bold"), local("SpaceGrotesk-Bold"),
        url("/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf")
            format("truetype");
    font-weight: bold;
    font-style: normal;
}

@import "custom/includes";
@import "custom/home";
@import "custom/em-massa";

.rounded-4 {
    border-radius: 4px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-30 {
    border-radius: 30px;
}

.fw-500 {
    font-weight: 500;
}

@include media-breakpoint-up(lg) {
    .fw-lg-500 {
        font-weight: 500 !important;
    }
}

.font-archivo {
    font-family: "Archivo";
    // font-family: "Archivo", sans-serif;
}

.font-roboto {
    font-family: "Roboto";
    // font-family: "Roboto", sans-serif;
}

.font-space-grotesk {
    font-family: "Space Grotesk";
    // font-family: "Space Grotesk", sans-serif;
}

.text-d3d2 {
    color: #D3D2D2;
}

.text-ef {
    color: #EFEFEF;
}

.text-e7 {
    color: #e7e7e7;
}

.text-0e {
    color: #0e0e0e;
}

.text-5d {
    color: #5D5D5D;
}

.text-1d1e1f {
    color: #1D1E1F;
}

.text-2b2d42 {
    color: #2B2D42;
}

.text-light-navbar {
    color: #0E0E0E !important;
}

.ls-1 {
    letter-spacing: -1px;
}

.fs-15 {
    font-size: 0.938rem;
}

.fs-17 {
    font-size: 1.063rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-20 {
    font-size: 1.25rem;
}

.fs-22 {
    font-size: 1.375rem;
}

.fs-16-18 {
    font-size: clamp(1rem, 0.9697rem + 0.1294vw, 1.125rem);
}

.fs-18-20 {
    font-size: clamp(1.125rem, 1.0947rem + 0.1294vw, 1.25rem);
}

.fs-18-22 {
    font-size: clamp(1.125rem, 1.0643rem + 0.2589vw, 1.375rem);
}

.fs-20-24 {
    font-size: clamp(1.125rem, 1.0340rem + 0.3883vw, 1.5rem);
}

.fs-20-32 {
    font-size: clamp(1.25rem, 0.6875rem + 2.5000vw, 2rem);
}

.fs-28-32 {
    font-size: clamp(1.75rem, 1.6893rem + 0.2589vw, 2rem);
}

.fs-30-36 {
    font-size: clamp(1.875rem, 1.7840rem + 0.3883vw, 2.25rem);
}

.fs-36-50 {
    font-size: clamp(2.25rem, 1.5938rem + 2.9167vw, 3.125rem);
}

.fs-36-64 {
    font-size: clamp(2.25rem, 1.8252rem + 1.8123vw, 4rem);
}

.border-color-navbar-dark {
    border-color: #525252 !important;
}

.border-color-navbar-light {
    border-color: #ededed !important;
}

.border-color-1d1e1f {
    border-color: #1D1E1F !important;
}

.border-color-b6 {
    border-color: #b6b6b6 !important;
}

.bg-1d1e1f {
    background-color: #1D1E1F;
}

.bg-edeef0 {
    background-color: #EDEEF0;
}

.bg-fa {
    background-color: #fafafa;
}

.mt-6 {
    margin-top: 6.25rem !important;
}

.pt-6 {
    padding-top: 6.25rem !important;
}

.pb-6 {
    padding-bottom: 6.25rem !important;
}

@include media-breakpoint-up(lg) {
    .pt-lg-6 {
        padding-top: 6.25rem !important;
    }
    .pb-lg-6 {
        padding-bottom: 6.25rem !important;
    }
}

.box-shadow-14-19 {
    box-shadow: 0px 14px 19px rgba(221, 221, 221, 0.1);
}

.panel-filter {
    filter: drop-shadow(0px 9px 34px rgba(88, 88, 88, 0.15));
}

.mobile-size-icon {
    width: 80px;
}

.card-img-height {
    min-height: 177px;
}

.tab-decoration-bar {
    border: 5px solid #BDBDBD;

    @at-root [aria-selected="true"] ~ & {
        border-color: #141415;
    }
}

.btn-padding {
    padding: 13px 41px;
}

.w-max-content {
    width: max-content;
}
