.home {
    .carousel-control-next,
    .carousel-control-prev {
        top: 9%;
        bottom: unset;

        @include media-breakpoint-up(sm) {
            top: 7%;
        }
    }
}

.custom-gradient {
    background: linear-gradient(to bottom, #fafafa 46%, #141415 39%);

    @include media-breakpoint-up(lg) {
        background: linear-gradient(to bottom, #fafafa 65%, #141415 35%);
    }
}
