.dropdown-toggle::after {
    border: none;
    vertical-align: 0.095em;

    @at-root .bg-primary & {
        content: url("/assets/imgs/vectors/light-down-caret.svg");
    }

    @at-root .bg-white & {
        content: url("/assets/imgs/vectors/dark-down-caret.svg");
    }
}

.dropdown-toggle::before {
    content: url("/assets/imgs/vectors/elipse-secondary.svg");

    vertical-align: 0.095em;
}

.bg-primary .dropdown-item:hover {
    // background-color: $white;
    color: $primary !important;
}

footer {
    img {
        margin-left: -16px;
        @include media-breakpoint-up(lg) {
            margin-left: -8px;
        }
    }

    div.position-absolute {
        bottom: 387px;

        @include media-breakpoint-up(sm) {
            bottom: 220px;
        }

        p {
            @include media-breakpoint-up(lg) {
                font-family: "Archivo", sans-serif;
                font-weight: normal !important;
            }
        }
    }
}
