.dropdown-toggle::after {
    content: url("/assets/imgs/vectors/down-caret.svg");

    border: none;
    vertical-align: 0.095em;
}

.dropdown-toggle::before {
    content: url("/assets/imgs/vectors/elipse-secondary.svg");

    vertical-align: 0.095em;
}

footer {
    img {
        margin-left: -16px;
        @include media-breakpoint-up(lg) {
            margin-left: -8px;
        }
    }

    div.position-absolute {
        bottom: 387px;

        @include media-breakpoint-up(sm) {
            bottom: 220px;
        }

        p {
            @include media-breakpoint-up(lg) {
                font-family: "Archivo", sans-serif;
                font-weight: normal !important;
            }
        }
    }
}
